h2, h3 {
    font-family: rosella-deco, sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
	background-color: #a6ad99;
}


.doublefont {
    position: relative;
    color: pink;
    font-family: rosella-solid, sans-serif;
	font-style: normal;
	font-weight: bolder;
}
.doublefont:after {
    content: attr(content);
    color: darkred;
    font-family: rosella-deco, sans-serif;
	font-style: normal;
	font-weight: bolder;
    position: absolute;
    top: 0;
    left: 0;
}

.crop {
    object-fit: cover;
    height: 50vw !important;
}

.h-divider {
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid gray;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    /* width: 80%; */
    border: solid red 2px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel-list {
    position: relative;
    width:10000em;

    /* Optional, required in this case since it's a <ul> element */
    /* list-style: none;
    margin: 0;
    padding: 0; */
    
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel-item {
    /* Required only for block elements like <li>'s */
    width:300px;
    height:100%;
}

.jcarousel-control-next {
    right: 15px;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-prev, .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #f0efe7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #f0efe7;
}

.jcarousel-wrapper {
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

@media only screen and (min-width: 1441px){
    .crop {
        object-fit: cover;
        height: 25vw !important;
    }
}